.button {
  @include font(14px, 18px);
  padding: 10px 32px;
  display: inline-block;
  vertical-align: middle;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  background: none;

  &--blue {
    @include font(16px, 21px);
    margin-left: 92px;
    padding: 16px 45px;
    letter-spacing: 0.05em;
    background: $blue;
    border: none;

    @media (max-width: $tablet) {
      margin-left: 51px;
      padding: 16px 30px;
    }

    @media (max-width: $mobile) {
      margin-left: auto;
      margin-right: auto;
      padding: 16px 30px;
    }
  }

  &--blue-border {
    padding: 12px 52px;
    color: $blue;
    border-color: $blue;
  }
}
