.features__wrapper {
  padding: 112px 119px 50px;
}

.features__list {
  @include clear-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features__item {
  position: relative;
  max-width: 570px;
  width: 49%;
  min-height: 299px;
  margin-bottom: 30px;
  padding: 40px 44px 40px;
  border: 1px solid $light-line;
  background-color: $white;

  &:nth-child(odd) {
    margin-right: 20px;
  }

  &--detective {
    svg {
      margin-bottom: 15px;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    min-height: 100%;
    background-color: $blue;
    content: "";
  }

  h3 {
    @include clear-content(15px);
    @include font(24px, 38px);
    position: relative;
    font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    color: $blue;
  }

  p {
    @include clear-content(0);
    @include font(16px, 22px);
    color: $text-darker;
  }

  svg {
    margin-bottom: 12px;
    fill: $blue;
  }

  &:hover {
    background-color: $blue;

    h3,
    p {
      color: $white;
    }

    svg {
      fill: $white;
    }
  }
}

@media (min-width: $tablet) and (max-width: $wrapper) {
  .features__item {
    width: 48%;
  }
}

@media (max-width: $tablet) {
  .features__wrapper {
    padding: 53px 25px 20px;
  }

  .features__list {
    justify-content: center;
  }

  .features__item {
    max-width: 345px;
    min-height: auto;
    padding: 24px 23px 21px;

    &:nth-child(odd) {
      margin-right: 30px;
    }

    svg {
      margin-bottom: 0;
    }

    h3 {
      margin-bottom: 7px;
    }

    &--detective {
      padding-bottom: 53px;

      h3 {
        margin-bottom: 12px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .features__wrapper {
    margin-bottom: 34px;
    padding: 37px 13px 0;
  }

  .features__item {
    width: 100%;
    margin-bottom: 20px;
    padding: 23px 15px 24px 28px;

    &:nth-child(odd) {
      margin-right: 0;
    }

    svg {
      margin-bottom: 6px;
    }

    h3 {
      @include font(20px, 28px);
      margin-bottom: 8px;
    }

    &--hired {
      padding: 26px 13px 29px 28px;
    }

    &--detective {
      padding-bottom: 57px;

      svg {
        margin-bottom: 4px;
      }

      h3 {
        margin-bottom: 17px;
      }
    }

    &--tag {
      svg {
        margin-bottom: 4px;
      }

      h3 {
        margin-bottom: 14px;
      }
    }
  }
}
