.feedback {
  min-height: 670px;

  background-image: url("../img/form-bg-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 36px;
  background-color: $blue;
}

.feedback__wrapper {
  padding: 0 122px 0 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback__image {
  position: relative;
  width: 50%;

  &::before {
    position: absolute;
    top: -360px;
    left: -175px;
    max-width: 670px;
    width: 100%;
    height: 641px;
    content: url("../img/triangles.svg");
  }

  &::after {
    position: absolute;
    top: -139px;
    left: 0;
    max-width: 511px;
    width: 100%;
    height: 288px;
    background-image: url("../img/airplane@1x.png");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/airplane@2x.png");
    }
  }
}

@media (min-width: $tablet) and (max-width: $wrapper) {
  .feedback__image {
    &::after {
      left: -75px;
    }
  }
}

@media (max-width: $tablet) {
  .feedback {
    min-height: 663px;
    background-image: none;
  }

  .feedback__wrapper {
    padding: 0 87px 0 91px;
  }

  .feedback__image {
    display: none;
  }
}

@media (max-width: $mobile) {
  .feedback {
    min-height: 640px;
  }

  .feedback__wrapper {
    padding: 0 15px;
  }
}
