.hero {
  position: relative;
  min-height: 878px;
  color: $white;

  .hero__wrapper {
    padding-top: 222px;
  }

  h2 {
    @include clear-content(23px);
    @include font(80px, 106px);
    font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.07em;
  }

  p {
    @include clear-content(30px);
    @include font(22px, 34px);
  }

  img {
    position: absolute;
    top: 171px;
    right: 180px;
  }
}
