.modal {
  display: none;
}

.modal__button {
  position: relative;
}

.modal__close {
  position: absolute;
  top: -13px;
  right: -20px;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    top: 10px;
    left: 0;
    width: 18px;
    height: 1px;

    background-color: $white;
    content: "";
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
