.page-header {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    min-height: 878px;
    content: "";

    background-image: url("../img/hero-bg-desktop@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $hero-bg;
    object-fit: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-bg-desktop@2x.jpg");
    }
  }
}

.page-header__wrapper {
  padding-top: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo {
  width: 202px;
  height: 52px;
}

.page-header__links {
  @include clear-list;
  min-width: 31%;
  margin: 0 50px 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.page-header__item {
  &:not(:last-child) {
    margin-right: 20px;
  }

  &--email {
    margin-left: 7px;

    svg {
      margin-right: 12px;
    }
  }
}

.page-header__link {
  color: $white;

  svg {
    fill: $blue;
  }

  &:hover,
  &:focus {
    color: $blue;

    svg {
      fill: $white;
    }
  }

  &:active {
    color: $blue;
    opacity: 0.6;

    svg {
      fill: $white;
      opacity: 0.6;
    }
  }
}

@media (min-width: $tablet) and (max-width: $wrapper) {
  .page-header__item {
    &--email {
      margin-right: 0;
    }
  }
}

@media (max-width: $tablet) {
  .page-header::before {
    min-height: 686px;
    background-image: url("../img/hero-bg-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-bg-tablet@2x.jpg");
    }
  }

  .page-header__wrapper {
    padding: 19px 0 0 25px;

    button {
      display: none;
    }
  }

  .page-header__links {
    margin: 0 10px 0 auto;
    justify-content: flex-end;
  }

  .page-header__item {
    span {
      display: none;
    }

    &--email {
      margin-right: 17px;

      svg {
        width: 26px;
        height: 19px;
      }
    }

    &--phone {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .page-header__link {
    svg {
      margin-right: 15px;
    }
  }
}

@media (max-width: $mobile) {
  .page-header::before {
    min-height: 646px;
    background-image: url("../img/hero-bg-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-bg-mobile@2x.jpg");
    }
  }

  .page-header__wrapper {
    padding: 16px 0 0 17px;
  }

  .page-header__logo {
    width: 148px;
    height: 38px;
  }

  .page-header__logo-title,
  .page-header__logo-text {
    display: none;
  }

  .page-header__links {
    margin-right: 0;
  }

  .page-header__item {
    &:not(:last-child) {
      margin-right: 20px;
    }

    &--email {
      margin-right: 8px;
    }
  }
}
