/* pt-mono-regular - latin_cyrillic */
@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Mono"),
    url("../fonts/pt-mono-v8-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/pt-mono-v8-latin_cyrillic-regular.woff") format("woff");
}

/* roboto-500 - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto"),
    url("../fonts/roboto-v20-cyrillic-500.woff2") format("woff2"),
    url("../fonts/roboto-v20-cyrillic-500.woff") format("woff");
}

/* roboto-condensed-700 - cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Condensed"),
    url("../fonts/roboto-condensed-v19-cyrillic-700.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v19-cyrillic-700.woff") format("woff");
}

/* roboto-condensed-regular - cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Condensed"),
    url("../fonts/roboto-condensed-v19-cyrillic-regular.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v19-cyrillic-regular.woff") format("woff");
}
