$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;

$wrapper: 1410px;
$wrapper-min: 320px;
$wrapper-max: 1190px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$hero-bg: #1b2d37;
$white: #ffffff;
$text-grey: #788891;
$text-darker: #666666;

$line-grey: #626962;
$light-line: #ebebeb;
$light-grey: #c4c4c4;
$blue: #00b2ff;
$blue-form: rgba(255, 255, 255, 0.2);
$overlay: rgba(0, 0, 0, 0.8);
