@import "../../node_modules/normalize.css/normalize";
@import "base/fonts.scss";
@import "base/global.scss";
@import "base/visually-hidden.scss";
@import "base/mixin.scss";
@import "base/variables.scss";
@import "blocks/wrapper.scss";
@import "blocks/page-header.scss";
@import "blocks/page-content.scss";
@import "blocks/button.scss";
@import "blocks/hero.scss";
@import "blocks/page-footer.scss";
@import "blocks/accordion.scss";
@import "blocks/features.scss";
@import "blocks/about.scss";
@import "blocks/catalog.scss";
@import "blocks/feedback.scss";
@import "blocks/form.scss";
@import "blocks/modal.scss";
@import "blocks/modal-overlay.scss";
